html {
  scroll-behavior: smooth;
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
:root {
  --color-blue: #2aaee7;
  --color-hover: #122a94;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}

.header {
  background-color: var(--color-blue);
  margin: 0;
}
.contener {
  max-width: 1440px;
  padding-top: 10px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--color-hover);
}
.flex-contener {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding-left: 30px;
  padding-right: 10px;
}
.header-avatar {
  padding-left: 30px;
}
.avatar {
  width: 300px;
  height: 302px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 0 0 4px rgb(42 174 231 / 30%);
}
.main-title {
  color: var(--color-blue);
  font-size: 3rem;
  margin: 0px;
}
.link-main {
  color: var(--color-blue);
  text-decoration: none;
  transition: color 0.5s;
}
.link-main:hover {
  color: var(--color-hover);
}
.section-title {
  color: var(--color-blue);
  font-size: 2rem;
  margin: 10px 0px;
}
.list,
.education-list,
.skills-list {
  padding: 0;
  list-style: none;
}

.list__item{
  padding:6px;
}
.list__item:before,
.skills-list__item:before {
  padding-right:10px;
  font-weight: bold;
  color: #C0C0C0;
  content: "\2714";
  
}

.skills-list__item {
  padding: 10px;
  margin-bottom: 5px;
}

.skills-list__item:hover:before {
  color: var(--color-blue);
}
.education-list__item {
  position: relative;
  border-left: 4px solid #dddddd;
  padding: 16px 20px 16px 28px;
  margin: 12px 0 12px 15px;
}
.education-list__item:before {
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: -30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #dddddd;
  box-sizing: border-box;
}


.list-project {
 
  padding: 0;
  list-style: none;
}

.project-link {
  text-decoration: none;
  color: grey;
}
.project-item {
  display: flex;
  flex-wrap: wrap; 
 justify-content: center;
  margin-bottom: 10px;
  
}
.github-link {
  display: flex;  
  align-items: center; 
  justify-content:center;
  border:  0.2rem solid var(--color-blue);
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
  width: 20rem;
  padding: 5px;
  transition: all .5s;
 
}
.github-link:hover {
  color: #fff;
  background-color: var(--color-blue);
}
.github-link__ico{
padding-left: 5px;
}
.project-item__link{
  width: 40%;
}
.project-img {  
  width: 300px;
  height: 195px;
  object-fit: cover;  
  box-shadow: 0 0 0 4px rgb(42 174 231 / 10%);
}
.project-item__description{
  width: 40%;
}
.project-img:hover {
  box-shadow: 0px 0px 7px 7px rgba(42, 174, 231, 0.3);
}
.project-title {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;   
}
.section-content {
  padding-left: 30px;
  padding-right: 10px;
}


footer {
  background-color: var(--color-blue);
}
.footer-contener {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  color: #fff;
  padding: 10px;
}
.footer-link {
  color:#fff;
  text-decoration: none;
  transition: 0.3s;
}
.footer-link:hover {
  transform: rotate(0.5turn);
}
.footer-git {
  width: 100px;
  height: 83px;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}

.footer-rss {
  height: 45px;
  width: 121px;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}
.topbutton {
  position: fixed;
  right: 10px;
  bottom: 120px;
  text-decoration: none;
}
.topico {
  width: 50px;
  height: 40px;
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }
  .section-content {
    width: 100%;
    padding: 10px;
  }


  .list-project {
    justify-content: space-around;
    align-items: center;
  }
  .topico {
    width: 25px;
    height: 20px;
  }
  .project-item {
    flex-direction: column;
    gap: 10px;     
  }
  .column,
  .project-item__description,
  .project-item__link{
    width: 100%;    
  }

 
}
@media (max-width: 425px) {
  html {
    font-size: 7px;
  }
 

  .header-avatar {
    padding: 0px;
    text-align: center;
  }
 
  .project-item {
    margin-right: 0;
  }
 

}
